html {background-color: #FBF9F1;}
h1 {
    color: #E5E1DA;
    text-align: center;
    font-size: 50px;
    padding-top: 1%;
 }
.contact{
    color: #E5E1DA;
    text-align: center
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  header {
    background-color: #92C7CF;
    font-family: 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">

  }

  